<div class="mt-4">
    <h3>Chỉnh sửa khóa học</h3>
    //The form only has method GET and POST, so we need to use a hidden input to specify the method
    <form method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Tên khóa học</label>
            <input type="text" class="form-control" id="name" value="{{course.name}}" name="name">
        </div>
        <div class="form-group">
            <label for="description">Mô tả khóa học</label>
            <textarea class="form-control" id="description" name="description">{{course.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="videoID">Video ID</label>
            <input type="text" class="form-control" id="videoID" value="{{course.videoID}}" name="videoID">
        </div>
        <div class="form-group">
            <label for="level">Mức độ</label>
            <input type="text" class="form-control" id="level" value="{{course.level}}" name="level">
        </div>
        <button type="submit" class="btn btn-primary">Cập nhật khóa học</button>
    </form>
</div>