<div class="mt-4">
    <div>
        <a href="/me/stored/courses">Quay về khóa học</a>
        <h3>Khóa học đã xóa</h3>
    </div>
    <table class="table mt-4 text-center">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian tạo</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>@{{this.createdAt}}</td>
                <td>
                    <ul>
                        <li>
                            <a href="" data-toggle="modal" data-target="#restore-course" data-id="{{this._id}}">Khôi
                                phục</a>
                        </li>
                        <li>
                            <a href="" data-toggle="modal" data-target="#delete-course" data-id="{{this._id}}">Xóa vĩnh
                                viễn</a>
                        </li>
                    </ul>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Bạn chưa xóa khóa học nào
                </td>

            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm restore dialog --}}
<div class="modal fade" id="restore-course" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Khôi phục khóa học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn khôi phục khóa học này?
            </div>
            <div class="modal-footer">
                <button id="btn_restore" type="button" class="btn btn-danger">Khôi phục</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- Confirm delete dialog --}}
<div class="modal fade" id="delete-course" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa vĩnh viễn khóa học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Hành động này sẽ xóa vĩnh viễn khóa học này. Bạn có chắc chắn muốn xóa?
            </div>
            <div class="modal-footer">
                <button id="btn_delete" type="button" class="btn btn-danger">Xóa vĩnh viễn</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form name="_delete_form" method="POST"></form>

{{!-- Restore hidden form --}}
<form name="_restore_form" method="POST"></form>

{{!-- Script --}}
<script>

    document.addEventListener('DOMContentLoaded', function () {
        let id = '';
        let deleteForm = document._delete_form;
        let restoreForm = document._restore_form;
        $('#delete-course').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            id = button.data('id')
        })
        $('#restore-course').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            id = button.data('id')
        })

        $('#btn_delete').click(function () {
            deleteForm.action = '/courses/' + id + '/force?_method=DELETE';
            deleteForm.submit();
        })
        $('#btn_restore').click(function () {
            restoreForm.action = '/courses/' + id + '/restore?_method=PATCH';
            restoreForm.submit();
        })
    })
</script>